<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-Lee</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Tim Berners Lee</h1>
    <div><a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee"><img src="/img/berners-lee.jpg" alt=""></a></div> 
   
        <p>Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8 de
        junio de 1955. Sus padres eran Conway Berners-Lee y Mary Lee Woods.​ Sus
        padres eran matemáticos británicos y formaron parte del equipo que construyó
        el Manchester Mark I. Por ello, la orientación profesional le venía de 
        familia, a que sus padres se habían conocido en el proyecto de desarrollo del
        Ferranti Mark I, el primer ordenador comercial con programa almacenado 
        desarrollado por la empresa Ferranti en marzo de 1951. Su padre, Conway
        Berners-Lee, y su madre, Mary Lee Woods, también fueron especialistas en 
        computación; trabajaron con el equipo que construyó el Ferranti Mark l.
        Comenzó en la escuela primaria Sheen Mont y luego pasó al Emanuel School,
        ambas en Londres, de 1969 a 1973.Estudió en Queen's College, de la Universidad
        de Oxford, de 1973 a 1976, donde recibió un título de primera clase de
        Física. Conoció a su primera esposa en este tiempo. En 1978, trabajó en 
        D.G. Nash Limited (también en Poole) donde escribió un sistema operativo.​</p>
    <a href="/">Inicio</a>
</body>
</html>