<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melson Clarke</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Edmund Melson Clarke</h1>
    <div><a href=" https://es.wikipedia.org/wiki/Edmund_Clarke"><img src="/img/clarke.jpg" alt=""></a></div> 
   
    
    
    <p>Edmund Melson Clarke, Jr. (Newport News, 27 de julio de 1945 - 22 de diciembre de 2020) 
    fue un informático teórico, profesor universitario, investigador, ingeniero y
    matemático estadounidense.
    Principalmente reconocido por haber desarrollado el método conocido como "model checking",
    para verificar diseños de software o hardware. nClarke fue el Profesor FORE Systems de 
    Ciencias de la Computación en la Universidad Carnegie Mellon. Junto con E. Allen Emerson
    y Joseph Sifakis, fue el ganador de 2007 del Premio Turing de la Association for Computing Machinery.
    Falleció el 22 de diciembre de 2020 a los 75 años a causa de COVID-19.
    </p>
    
    <a href="/">Inicio</a>
</body>
</html>