<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <div><a href=" https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)"><img src="/img/Hamilton.jpg" alt=""></a></div> 
  
    <p>
    Hija de Ruth Esther Partington y Kenneth Heafield,​ fue educada en un ambiente familiar con un padre 
    filósofo-poeta y abuelo pastor cuáquero que la alentó a estudiar y a ser lo que ella quería ser.
    Conoció a su marido (del cual se divorció más tarde)13​ James Cox Hamilton mientras estudiaba en Earlham 
    College y se casaron a finales de los años 1950 después de obtener su licenciatura. Tienen una hija llamada Lauren.
    Tras licenciarse en Matemáticas, quiso seguir estudiando, pero tuvo que dejar sus estudios durante un periodo
    de tiempo para que su marido terminara su carrera en Harvard, y trabajar de profesora de matemáticas y francés
    en un instituto.​</p>
    <a href="/">Inicio</a>
</body>
</html>