<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEROES DE LA INFORMATICA</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>HEROES DE LA INFORMATICA</h1>
    <ul ><h2>
        <li><a href= "/babbage"</a>BABBAGE</li>
        <li><a href= "/berners-lee"</a>BERNERS-LEE</li>
        <li><a href= "/clarke"</a>CLARKE</li>
        <li><a href= "/hamilton"</a>HAMILTON</li>
        <li><a href= "/hopper"</a>HOPPER</li>
        <li><a href= "/lovelace"</a>LOVELACE</li>
        <li><a href= "/turing"</a>TURING</li></h2>
    </ul>
</body>
</html>